#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Prestige General Settings
########################################
#
#    Prestige.Enable
#        Description: Enable/Disable the prestige system.
#        Default:     0 - Disabled
#                     1 - Enabled
#

Prestige.Enable = 1

#
#    Prestige.AddonXpIndicator
#        Description: Send addon whisper updates (prefix PrestigeXP) so a client addon can show
#                     prestige XP toward the next prestige ding. Uses the same addon channel as
#                     mod-ale's Player:SendAddonMessage (RegisterAddonMessagePrefix on the client).
#                     If you use AIO + ALE with lua/z_prestige_aio_xp.lua, set this to 0 to avoid
#                     duplicate pushes (that script uses AIO.Handle instead).
#        Default:     1 - Enabled
#                     0 - Disabled (no addon traffic)
#

Prestige.AddonXpIndicator = 1

#
#    Prestige.ResetCost
#        Description: The cost of resetting attributes in copper.
#        Default:     0 (disabled)
#

Prestige.ResetCost = 0

#
#    Prestige.DisablePvP
#        Description: Enable/Disable the attributes in PvP combat.
#                     0 - Disabled
#        Default:     1 - Enabled
#

Prestige.DisablePvP = 1



########################################
# Prestige Stat Weights And Max
########################################
#
#    Prestige.Max.*
#        Description: The max amount of points that can be spent
#        Default:     100
#        Disable:     0
#
#       Keep in mind that Prestige.Max * Prestige.StatPerPoint CANNOT be greater than 65,536.
#           ex: if Prestige.Max.Stamina = 100 and Prestige.StatPerPoint.Stamina = 700, you will have errors due to overflow
#

Prestige.Max.Stamina = 350
Prestige.Max.Strength = 350
Prestige.Max.Agility = 350
Prestige.Max.Intellect = 350
Prestige.Max.Spirit = 350
Prestige.Max.SpellPower = 350
Prestige.Max.DefenseRating = 350
Prestige.Max.DodgeRating = 350
Prestige.Max.ParryRating = 350
Prestige.Max.BlockRating = 350
Prestige.Max.BlockValue = 350
Prestige.Max.CritRating = 350
Prestige.Max.HitRating = 350
Prestige.Max.ExpertiseRating = 350
Prestige.Max.HasteRating = 350
Prestige.Max.ArmorPenRating = 350
Prestige.Max.ResilRating = 350
Prestige.Max.AttackPower = 350
Prestige.Max.BonusArmor = 350
Prestige.Max.SpellPen = 350
Prestige.Max.Mp5 = 350
Prestige.Max.ResistFire = 350
Prestige.Max.ResistFrost = 350
Prestige.Max.ResistNature = 350
Prestige.Max.ResistShadow = 350
Prestige.Max.ResistArcane = 350
Prestige.Max.ResistAll = 350

#
#    Prestige.Max.*
#        Description: The max amount of points that can be spent
#        Default: varies
#
#       Keep in mind that Prestige.Max * Prestige.StatPerPoint CANNOT be greater than 65,536.
#           ex: if Prestige.Max.Stamina = 100 and Prestige.StatPerPoint.Stamina = 700, you will have errors due to overflow
#

Prestige.StatPerPoint.Stamina = 1
Prestige.StatPerPoint.Strength = 1
Prestige.StatPerPoint.Agility = 1
Prestige.StatPerPoint.Intellect = 1
Prestige.StatPerPoint.Spirit = 1
Prestige.StatPerPoint.SpellPower = 1
Prestige.StatPerPoint.DefenseRating = 1
Prestige.StatPerPoint.DodgeRating = 1
Prestige.StatPerPoint.ParryRating = 1
Prestige.StatPerPoint.BlockRating = 1
Prestige.StatPerPoint.BlockValue = 1
Prestige.StatPerPoint.CritRating = 1
Prestige.StatPerPoint.HitRating = 1
Prestige.StatPerPoint.ExpertiseRating = 1
Prestige.StatPerPoint.HasteRating = 1
Prestige.StatPerPoint.ArmorPenRating = 1
Prestige.StatPerPoint.ResilRating = 1
Prestige.StatPerPoint.AttackPower = 1
Prestige.StatPerPoint.BonusArmor = 1
Prestige.StatPerPoint.SpellPen = 1
Prestige.StatPerPoint.Mp5 = 1
Prestige.StatPerPoint.ResistFire = 1
Prestige.StatPerPoint.ResistFrost = 1
Prestige.StatPerPoint.ResistNature = 1
Prestige.StatPerPoint.ResistShadow = 1
Prestige.StatPerPoint.ResistArcane = 1
Prestige.StatPerPoint.ResistAll = 1



########################################
# Prestige Level Exp Formula
########################################
#
#    Prestige.LevelUpFormla.Type
#        Description: Sets the type of formula used for exp calculations. Note option 2 is experimental.
#               1 - Linear increase with rate. Total exp needed to level = base * (100+(prestigelvl*r)/100)
#               2 - Exponential increase with rate. Total exp needed to level = base * (1 + ((prestigelvl*r)/100) * (pow(prestigelvl,2)/k))
#        Default:     1
#      
Prestige.LevelUpFormula.Type = 1  

#
#    Prestige.LevelUpFormla.Base
#        Description: Controls the base value in the exp formula.
#        Default:     100000
#  
Prestige.LevelUpFormula.Base = 100000

#
#    Prestige.LevelUpFormla.r
#        Description: Controls the (r) multiplier in the exp formla. Higher rate = more exp needed to level
#        Default:     5
#    
Prestige.LevelUpFormula.r = 1

#
#    Prestige.LevelUpFormla.k
#        Description: Controls the (k) multiplier in the exp formla. Higher value = more exp needed to level. Only used if LevelupFormula.Type = 2
#        Default:     5
#    
Prestige.LevelUpFormula.k = 1



########################################
# Prestige Talents
########################################
#
#    Prestige.Talents
#        Description: Give the amount of talent points per prestige level gained
#		 Default: 0
#

Prestige.Talents = 1